body {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 75px;
  font-family: 'VT323', sans-serif;
  background-color: black;
}
header {
  margin-bottom: 20px;
}
.header {
  color: #4f86f7;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  width: 380px;
  margin: auto;
}
.info {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
  margin-bottom: 30px;
  color: cornsilk;
  font-size: 45px;
  margin: auto;
  margin-top: 30px;
}

.grid-wrapper {
  width: 380px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0;
}

.mainGrid {
  display: flex;
}

.grid {
  width: 320px;
  height: 640px;
  margin: 100px auto 0;
  border: 10px solid #fbe870;
  font-size: 0;
  padding-top: 0;
  margin-top: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px dotted darkgrey;
  display: inline-block;
}

.freezedCell {
  background-color: #fbe870;
}

.blue {
  background-color: #76d7ea;
}
.orange {
  background-color: #ff8833;
}
.green {
  background-color: #29ab87;
  /* rgb(54, 207, 49); */
}
.red {
  background-color: #ed0a3f;
}
.lilac {
  background-color: #c9a0dc;
}
.darkgreen {
  background-color: #01786f;
}
.pink {
  background-color: #fc80a5;
}

#start {
  width: 192px;
  height: 80px;
  margin: auto;
  font-size: 45px;
  font-weight: bold;
  background-color: #ed0a3f;
  margin-top: 25px;
  border-color: black;
}

#control {
  align-items: center;
  text-align: center;
  font-size: 20px;
  height: 150px;
  width: 150px;
  background-color: #fbe870;
  border: 10px solid #ed0a3f;
  margin-left: 20px;
}
.controlsList {
  /* display: flex;
  flex-direction: column; */
  margin: 0;
}
.h3List {
  text-align: center;
  padding: 0;
  margin: 10px 0;
}
.pList {
  margin: 0;
}
